@charset "utf-8";
.btn-box {
  display: flex;
}
.btn-box .btn {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #ddd;
  border-radius: 3px;
  transition: all .3s linear;
}
.btn-box .btn.active {
  background-color: #5e5e5e;
  color: #fff;
}
.showbox {
  width: 400px;
  height: 300px;
  padding: 10px;
  border: 1px solid #ddd;
}
