@charset "utf-8";
.container {
  margin: 50px 50px;
  position: relative;
}
.container .typeinput {
  width: 250px;
  height: 35px;
  box-sizing: border-box;
}
.container .suggest {
  width: 250px;
  min-height: 300px;
  border: 1px solid #D1D8D5;
  background-color: #fff;
  box-sizing: border-box;
  padding: 5px;
}
.container .suggest p {
  margin: 0;
}
