@charset "utf-8";
.container{
  margin:50px 100px;
  input{
    height:26px;
    padding-left: 10px;
  }
}
.todoItem{
  display:flex;
  width:600px;
  .btn{
    border:1px solid #ddd;
    padding:5px 10px;
    margin-left: 30px;
    &:hover{
      color:#fff;
      background-color:#FE7340;
      cursor:pointer;
    }
  }
}
.tips{
  color:red;
}
.errorinput{
  border:1px solid red;
}