<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for对象</title>
    <script src="../js/vue.js"></script>
</head>
<body>
<div id="app">
    <ul v-for="(val,key,index) in obj">
        <li :key="index">
            value: {{val}}<br>
            key: {{key}}<br>
            index: {{index}}
        </li>
    </ul>
    <ol v-for="(val,index) in farray">
        <li :key="index">{{val}}</li>
    </ol>
    <div >
        <span v-for="n in 10"> {{n}} </span>
    </div>
</div>
<script>
    app=new Vue({
        el:'#app',
        data:{
          obj:{
              name:'小明',
              age:18,
              score:100,
          },
          farray:[
              'vue',
              'js',
              'html'
          ]
        },
    });
</script>
</body>
</html>