<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="UTF-8">
    <title>组件基础</title>
    <script src="../js/vue.js"></script>
</head>
<body>
<div id="app">
    <button-counter></button-counter>
    <button-counter></button-counter>
    <button-counter></button-counter>
    <blog
          v-for="item in posts"
          :title="item.title"
          :key="item.id"
          :content="item.content"
            ></blog>
    <h2>可复用</h2>
    <blog
            title="测试blog组件"
            ></blog>
    <hr/>
    <h2>组件改造</h2>
    <div :style="{fontSize:comFontSize +'em'}">
        <blog-post
                v-for="post in posts"
                :key="post.id"
                :post="post"
                @enlarge="enlarge($event)"
                @shrink="shrink($event)"
                ></blog-post>
    </div>

</div>
<script>
    Vue.component('button-counter',{
        data:function(){
            return {
                count:0
            }
        },
        template:`
        <button @click="count++">被点击了{{count}}次</button>
        `
    });
    Vue.component('blog',{
        props:['title','content'],
        template:`
        <div>
            <h3>{{title}}</h3>
            <p v-html="content"></p>
        </div>
        `
    });
    Vue.component('blog-post',{
        props:['post'],
        template:`
        <div>
            <h3>{{post.title}}</h3>
            <h6>更新时间：{{post.create_time}}</h6>
            <p v-html="post.content"></p>
            <button @click="$emit('enlarge','0.1')">增大字体</button>
            <button @click="$emit('shrink','0.01')">缩小字体</button>
        </div>
        `
    });
    new Vue({
        el:'#app',
        data:{
            posts:[
                {id:0,title:'My journey with Vue',create_time:'2018-08-26',content:'<span style="color:red;">红色的内容</span>'},
                {id:1,title:'Blogging with Vue',create_time:'2018-08-26',content:'test'},
                {id:3,title:'Why Vue is so fun',create_time:'2018-08-26',content:''},
            ],
            comFontSize:1
        },
        methods:{
            enlarge:function(event){
                let vm=this;
                event=parseFloat(event).toFixed(2);
                console.log(event);
                vm.comFontSize+=event;
            },
            shrink:function(event){
                let vm=this;
                event=parseFloat(event).toFixed(2);
                console.log(event);
                vm.comFontSize-=event;
            }
        }
    });

</script>
</body>
</html>