<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="UTF-8">
    <title>基础知识</title>
    <style>
        ul{
            list-style-type: none;
        }
    </style>
    <script src="../js/vue.js"></script>
</head>
<body>
<div id="app">
    <my-header></my-header>
    <!--if-->
    <template v-if="active">
        <h1>v-if</h1>
        <p>把一个 template 元素当做不可见的包裹元素，并在上面使用 v-if。最终的渲染结果将不包含 template 元素。</p>
    </template>
    <div v-if="Math.random()>0.5">now you see me</div>
    <div v-else>now you don't</div>
    <!--数据绑定-->
    <p>{{msg}}</p>
    <input type="text" v-model="msg">
    <button @click="reverseMsg">点我逆转消息</button>
</div>
    <!--列表渲染-->
<div id="app-for">
    <ul>
        <li v-for="(item,index) in items">
            {{'序号 '+index+' : '}}{{item.msg}}
        </li>
    </ul>
</div>
<hr/>
<ul id="v-for-object">
    <li v-for="(val,key,idx) in object" :key="idx">{{idx }}.{{key}}:{{val}}</li>
</ul>
<hr/>
<div id="von">
    <p>这个按钮被点击了{{counter}}次</p>
    <button @click="addBtn">点我增加</button>
</div>
<script>
    Vue.component('my-header',{
        template:'<p>This is my-header 组件</p>'
    });
    var vm=new Vue({
        el:'#app',
//        template:'<p>Hello Vue.js,{{word}}</p>',
        data:{
            word:'hello JavaScript !',
            active:true,
            msg:'Hello Vue.js!'
        },
        methods:{
            reverseMsg:function(){
                this.msg=this.msg.split('').reverse().join('');
            }
        }
    });
    var vf=new Vue({
        el:'#app-for',
        data:{
            items:[
                {msg:'Angular'},
                {msg:'React'},
                {msg:'Vue'},
                {msg:'NB Project'}
            ]
        }
    });
    var vfo=new Vue({
        el:'#v-for-object',
        data:{
            object:{
                firstName:'Gates',
                lastName:'Bill',
                age:58
            }
        }
    });
    var von=new Vue({
        el:'#von',
        data:{
            counter:0
        },
        methods:{
            addBtn:function(){
                this.counter++;
            }
        }
    });
</script>
</body>
</html>